* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;  
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Manrope', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 0px 20px;
  }