// color
$white-text: #FFFFFF;
$black-text: #000000;
$gray-text: #393939;
$opacity-text: #C6C6C6;
$blue-text: #4361EE;
$dim-blue-text: #9DADF6;
$dim-blue-big: #D9DFFC;
$pink-text: #FF99FF;

// background
$bg-white: #FFFFFF;
$bg-blue: #4361EE;
$bg-pink: #FF99FF;
$bg-gray: #F7F8FC;
$bg-yellow: #D9ED4A;
$bg-red: #F54742;

// border

// size
$s-100: 100px;
$s-50: 50px;
$s-40: 40px;
$s-35: 35px;
$s-30: 30px;
$s-20: 20px;
$s-15: 15px;
$s-12: 12px;
$s-10: 10px;
$s-8: 8px;
$s-5: 5px;
